

<section class="section1">
    <header>
        <h1 class="space"></h1>
        <nav class="navbar">
            <div class="navbar-container">
                <ul class="nav-menu">
                    <li class="list"><a href="#home">Home</a></li>
                    <li class=""><a href="#about-me">About Me</a></li>
                    <li class=""><a href="#projects">Projects</a></li>
                    <li class=""><a href="#contact">Contact</a></li>
                </ul>         
            </div>
        </nav>
    </header>
</section>